@import "~bootswatch/dist/minty/variables";

.custom-button-wrapper {
  text-align: right;
  margin: 0 auto;
  width: 70%;

  .custom-float-button {
    width: 60px;
    height: 60px;
    background-color: $danger;
  }
}

form {
  .row {
    &.button-wrapper {
      justify-content: flex-end;
    }
  }

  #isFeatured {
    height: 0;
    margin-top: 5px;

    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      border: 1px solid $gray-400;
      border-radius: 0.4rem;
      cursor: pointer;
    }

    &:checked {
      &::before {
        background-color: $primary;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .input-group {
    &.col-sm-8 {
      padding: 0;
    }
  }
}
