h2 {
  text-align: center;
}

.delete-button-wrapper {
  text-align: right;
  margin: 0 auto;
  width: 70%;

  .delete-button {
    background-color: #981826;
    border: none;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);

    &:hover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    &:focus {
      outline: #fff;
    }

    .fa-trash-alt {
      color: #fff;
      font-size: 1.5rem;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .row {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &.error-container {
      margin: 0;
    }

    &.button-wrapper {
      justify-content: flex-end;
    }
  }

  .row-tags {
    label {
      width: 20%;
    }

    input {
      width: calc(80% - 40px);
      margin-left: 0;
    }
  }

  input,
  textarea {
    width: 80%;
    margin-left: 20px;
    line-height: 30px;
    font-family: "Happy Monkey", cursive;
  }

  .button-lg {
    width: 100%;
    margin: 20px 0;
  }

  #isFeatured {
    height: 0;

    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #a9c3ba;
      cursor: pointer;
    }

    &:checked {
      &::before {
        background-color: #a9c3ba;
        transition: all 0.3s ease-in-out;

      }
    }
  }

  .remove-tag {
    width: 40px;
    background-color: #1e311b;
    border-color: #1e311b;
  }

}
