@import "~bootswatch/dist/minty/variables";

h5 {
  margin-left: 5px;
}

header {
  display: flex;
  justify-content: space-between;

  .clickable {
    color: $danger;
  }

  h5 {
    span {
      color: $primary;
      font-weight: 600;
    }
  }
}

.tags-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .badge {
    margin-top: 5px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.card {
  position: relative;
}
.edit-btn-container {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  border: 1px solid $warning;
  background-color: $white;
  z-index: 10;
  padding: 10px;
}
