<div class="content-wrapper">
  <h2>All Quotes</h2>
  <section>
    <ul class="allQuotes">
      <li class="allQuotes-item" *ngFor="let quote of quotes">
        <p>{{ quote.content }}</p>
        <h4> &#45; {{quote.author}}, <cite>{{quote.title}}</cite></h4>
        <div class="tags-container">
          <span class="tag" *ngFor="let tag of quote.tags">{{tag}}</span>
        </div>
        <div class="icons-container">
          <a [routerLink]="['/edit', quote.id]" routerLinkActive="router-link-active">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </div>
      </li>
    </ul>
  </section>
</div>
