<div class="content-wrapper">
  <h2 *ngIf="!hasFilter">All Quotes</h2>
  <header *ngIf="hasFilter">
    <p>You're seing quotes for:
      <span>{{ filteredValue }}</span>
    </p>
    <h2 class="clickable" (click)="clearFilter()">X Clear filter</h2>
  </header>
  <section>
    <ul class="allQuotes">
      <li class="allQuotes-item" *ngFor="let quote of quotes">
        <p>{{ quote.content }}</p>
        <h4> &#45; <span class="clickable" (click)="filterQuotesByKey('author', quote.author)">{{quote.author}}</span>, <cite class="clickable" (click)="filterQuotesByKey('title', quote.title)">{{quote.title}}</cite></h4>
        <div class="tags-container">
          <span class="tag clickable" *ngFor="let tag of quote.tags" (click)="filterQuotesByTag(tag)">{{tag}}</span>
        </div>
        <div class="icons-container">
          <a [routerLink]="['/edit', quote.id]" routerLinkActive="router-link-active">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </div>
      </li>
    </ul>
  </section>
</div>
