<div class="hero">
  <h1>Welcome to the <span class="brand-text">QuotesApp</span></h1>
  <p class="heading">If you're looking to get inspired, amused or challenged by great words of wisdom from writers,
    thinkers or just very smart people, you've come to the right place.</p>
  <p class="heading">Know a great quote? Don't hesitate to submit it for our consideration!</p>
  <div class="button-wrapper">
    <button>Suggest a Quote</button>
  </div>
</div>
<p class="photo-credit">Photo by <a href="https://unsplash.com/@pavstyuk" target="_blank">Mikhail Pavstyuk</a> on <a
    href="https://unsplash.com/@pavstyuk" target="_blank">Unsplash</a></p>
