<header class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a routerLink="/" class="navbar-brand">QuotesApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav
      class="navbar-collapse collapse flex-row-reverse"
      id="navbarResponsive"
    >
      <ul class="navbar-nav">
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/quotes" class="nav-link">Quotes</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/authors" class="nav-link">Authors</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/add" class="nav-link">Add Quote</a>
        </li>
        <li
          *ngIf="isLoggedIn"
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a href="#" (click)="onLogoutClick()" class="nav-link">Logout</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <span class="nav-link disabled">{{ loggedInUser }}</span>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
