@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

h1, h5 {
  padding: 2rem 0;
}

.blockquote-footer {
  color: $primary;
  font-size: 102%;
}

.clickable {
  cursor: pointer;
}
